@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
}
body{
    background-color: #f1f5f8;
    
}
.nav-center{
   
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    
}
h1{
    color:rgb(255, 0, 76);
    background-color: #f1f5f8;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    
}

.container{
    text-align: center;
    padding: 30vh;
    justify-content: center;
}
.butn{
    margin: 5vw;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    font-size: large;
    border-radius: 1.5vw;
    border-color: azure;
    color:rgb(255, 0, 76);
    font-weight: bold;
    cursor:pointer;
    
}
.butn:hover{
    background-color: rgb(255, 0, 76);
    color:azure;
    
    font-size: larger;
    
}
@media screen and (min-width: 600px) {
    h2 {
        font-size: 2.5rem;
        line-height: 1rem;
       
    }
    body {
        font-size: 1rem;
    }
}
